body {
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
    background-color: gray;
    color: white;
    /* background-color: rgba(6, 143, 153, 0.733); */
    /* background-image: url(/image/photoportefolio.png);
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; */
}
.head{
    display: flex;
    justify-content: space-between;
    background-color:aqua;
    color: white;
}
p{
    text-align: justify;
}
h3{
    text-align: center;
    text-transform: uppercase;
}
h2{
    text-align: center;
    color: blue;
}
.image img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid 5px gray;  
}
.experiences{
    background-color:aqua;
    color: white;
}
.parcours{
    background-color:aqua;
    color: white;
}
.contact{
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color:aqua;
    color: white;
}

header .lien{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    column-rule-color: blue;
}
.lien a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 15px;
}
.lien a:hover{
    background-color: blue;
    color: white;
    border-radius: 10px;
}
footer{
    text-align: center;
    color: blue;
    margin-top: 10%;
}

.container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.para{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.para1{
    display: flex;
    flex: 1 1;
    padding: 5px;
    text-align: justify;
    justify-content: space-between;
}
.formulaire{
    border: 2px solid gray;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    
}
.competence{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: justify;
}
.skills{
    border: solid 2px gray;
    padding: 3px;
    flex: 1 1;
    justify-content: space-around;
    margin-left: 2px;
}
.skills img{
    width: 80px;
    height: 80px;
    border: solid 1px black; 
}
.images{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.images p:hover{
    background-color: black;
}
.videos{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
}
.video{
    /* border: solid 2px gray; */
    padding: 5px;
    flex: 2 1;
    margin: 5px;
}
.video img{
    width: 500px;
    height: 200;
    border: 5px solid gray;
}
.video h3{
    text-align:start;
    margin-left: 10%;
}