body {
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
    background-color: rgb(208, 211, 207);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 80px;
}
.head{
    position: fixed;
    top: 0; 
    left: 5;
    right: 5;
    width: 97.8%;
    z-index: 1000;
    border-bottom: 10px solid rgb(208, 211, 207);
    
}
.poste{
    font-weight: bold;
    color: blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: capitalize;
}
.poste:hover{
    color: white;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
    background-color: blueviolet;}
.head{
    display: flex;
    justify-content: space-between;
}
.head{
    background-color:blueviolet;
    color: #2563eb;
}
p{
    text-align: justify;
}
h3{
    text-align: center;
    text-transform: uppercase;
}
h2{
    text-align: center;
    color: black;
}
.image img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid 5px white;  
}
.experiences{
    background-color:blueviolet;
    color: white;
}
.experiences:hover{
    color: black;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
.experiences h2:hover{
    color: blueviolet;
}
.parcours:hover{
    color: black;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
.parcours h2:hover{
    color: blueviolet;
}
.parcours{
    background-color:blueviolet;
    color: white;
}
.contact{
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
    justify-content: space-around;

}
.contact{
    background-color:blueviolet;
    color: white;
}

header .lien{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    column-rule-color: blue;
}
.lien a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
}
.lien a:hover{
    background-color: white;
    color: blue;
    border-radius: 10px;
}
footer{
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
    justify-content: space-around;
}
.reseaux a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    margin: 5px;  
}
.reseaux a:hover{
    color: blue;    
}

.container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.para{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.para1{
    display: flex;
    flex: 1 1;
    padding: 5px;
    text-align: justify;
    justify-content: space-between;
}
.formulaire{
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    
}
.competence{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: justify;
}
.skills{
    border: solid 2px white;
    padding: 3px;
    flex: 1 1;
    justify-content: space-around;
    margin-left: 2px;
}
.skills img{
    width: 80px;
    height: 80px;
    border: solid 1px black;
}
.images{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.images p:hover{
    background-color: blueviolet;
}
.videos{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1;
    justify-content: space-around;
}
.video{
    /* border: solid 2px gray; */
    padding: 5px;
    flex: 1 1;
    margin-left: 5%;
    margin-right: 5%;
}
.video img{
    width: 500px;
    height: 200;
    border: 5px solid white;
}
.video h3{
    text-align:center;
    margin-left: 10%;
}


